<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/meeting.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="/javascripts/_meeting.js"></script>
</head>

<body onload="onMeeting()">
    <% include partials/login %>
    <h2>A meeting about: <%=topic.name%></h2>
    <div style="margin: auto;width:100%">
        <div class="user">
            <img src="<%=user1.profile_photo_url%>">
            <%=user1.name%>
            <div class="userdesc"><%=user1.desc%></div>
        </div>
        <div class="user">
            <img src="<%=user2.profile_photo_url%>">
            <%=user2.name%>
            <div class="userdesc"><%=user2.desc%></div>
        </div>
    </div>

    <br>
    <div class="joinmeeting">
        <a target="_blank" href="<%=joinLink%>">Join Meeting</a>
    </div>


    <div class="wrapper">
        <div class="h_iframe">
            <iframe id="chatFrame" height="2" width="2"  frameborder="0" allowfullscreen
                src="/meetings/messages?meetingId=<%=meetingId%>"></iframe>
        </div>
    </div>


    <h2>Strike up a conversation: </h2>

    <form method="POST" action="/meetings/msg">
        <input type="hidden" name="meetingId" value="<%=meetingId%>">
        <textarea style="width:40vw;" name="msg"></textarea>
        <input type="submit" value="Send">
    </form>
    <% include partials/footer.ejs %>